---
- name: Setup the Public site
  hosts: all
  connection: local
  tasks:
    - name: Ensure Skupper V2 controller is running
      kubernetes.core.k8s:
        state: present
        src: https://github.com/skupperproject/skupper/releases/download/v2-dev-release/skupper-cluster-scope.yaml

    - name: Create public namespace resources
      skupper.v2.resource:
        state: present
        path: http://localhost:1313/posts/20250311-skupper-ansible-vault/resources/skupper/public.yaml
        # path: https://giorgetti.com.br/posts/20250311-skupper-ansible-vault/resources/skupper/public.yaml
        namespace: public

    - name: Create a Skupper Link
      skupper.v2.token:
        name: public-token
        namespace: public
        type: link
      register: public

    - name: Store public Link in Vault
      community.hashi_vault.vault_write:
        url: http://127.0.0.1:8200
        path: secret/data/public
        auth_method: token
        token: "{{ lookup('file', vault_token) }}"
        data:
          data:
            token: "{{ public.token }}"
