---
- name: Setup the Private site
  hosts: all
  connection: local
  tasks:
    - name: Ensure Skupper V2 controller is running
      kubernetes.core.k8s:
        state: present
        src: https://github.com/skupperproject/skupper/releases/download/v2-dev-release/skupper-cluster-scope.yaml

    - name: Create private namespace resources
      skupper.v2.resource:
        state: present
        path: http://localhost:1313/posts/20250311-skupper-ansible-vault/resources/skupper/private.yaml
        # path: https://giorgetti.com.br/posts/20250311-skupper-ansible-vault/resources/skupper/private.yaml
        namespace: private

    - name: Consume public site link from Vault
      community.hashi_vault.vault_read:
        url: http://127.0.0.1:8200
        path: secret/data/public
        auth_method: token 
        token: "{{ lookup('file', vault_token) }}"
      register: public
      
    - name: Creating link to public
      skupper.v2.resource:
        def: "{{ public.data.data.data.token }}"
        namespace: private
